In [5]:
import pandas as pd

In [8]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [14]:
data = [{"name" : "Alice", "Age" : "25","gender" : "Female"},
       {"name" : "Bob", "Age" : "30","gender" : "Male"},
       {"name" : "Claire", "Age" : "27","gender" : "Female"}]
df = pd.DataFrame(data)
print(df)

     name Age  gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns that can be of different types (similar to a spreadsheet or a SQL table). It is one of the core data structures provided by the Pandas library for data manipulation and analysis. A DataFrame can be thought of as a collection of Series, where each Series represents a column of the DataFrame.

On the other hand, a Series is a 1-dimensional labeled array, similar to a column in a table or a single-dimensional array. It can store data of any type and is often used to represent a single column or a single row of data.

In [16]:
#some common functions along with examples of their usage:
#1.head() and tail(): These functions allow you to view the first few or last few rows of the DataFrame.
#2.describe(): Provides summary statistics of numerical columns in the DataFrame.
#3.sort_values(): Sorts the DataFrame based on one or more columns.
#4.fillna(): Fills missing values with a specified value or method.
#5.drop(): Removes specified columns or rows from the DataFrame.
#6.merge(): Combines multiple DataFrames based on a common column.

In [15]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'Class': ['A', 'B', 'C']}

df = pd.DataFrame(data)

print(df.head(2))  # Display the first 2 rows
print(df.tail(1))  # Display the last 1 row

    Name  Age Class
0  Alice   25     A
1    Bob   30     B
      Name  Age Class
2  Charlie   22     C

In [17]:
print(df.describe())  # Summary statistics of numerical columns

             Age
count   3.000000
mean   25.666667
std     4.041452
min    22.000000
25%    23.500000
50%    25.000000
75%    27.500000
max    30.000000

In [18]:
sorted_df = df.sort_values(by='Age')  # Sort by 'Age' column
print(sorted_df)

      Name  Age Class
2  Charlie   22     C
0    Alice   25     A
1      Bob   30     B

In [19]:
#series and Dataframe are mutable in nature while panel is not

In [22]:
name = pd.Series(["Amit","Aman","Ajay"])
Age  = pd.Series([20,21,20])
Gender = pd.Series(["Male","Male","Male"])

In [27]:
# Create a DataFrame using the Series
data = {"Name" : name,
       "age" : Age,
       "gender": Gender}
df = pd.DataFrame(data)
df

   Name  age gender
0  Amit   20   Male
1  Aman   21   Male
2  Ajay   20   Male